<h1> Sign In </h1>

<%= form_tag '/signin' do  %>

   <%= label_tag :email %> 
   <%= email_field_tag :email %> <br> 

   <%= label_tag :password %> 
   <%= password_field_tag :password %> <br>

   <%= submit_tag "Sign In" %>

   <%= link_to('Log in with Google!', '/auth/google') %>
<% end %>
