<h1> <%= @piece.name %> </h1>

<h2> Information </h2>
Category: <%= @piece.category%>  <br>
Style: <%= @piece.style%>  <br>
Quantity: <%= @piece.quantity%>  <br>



Room: <%= link_to @piece.room.name, room_path(@piece.room) %>  <br>

Store: <%= link_to @piece.store.name, store_path(@piece.store) %> <br>

<%= link_to "Edit Piece", edit_piece_path(@piece) %> <br>