<h1> Signup </h1>

<%= render partial: "partials/error_messages", locals: { object: @designer } %>

<%= form_for @designer, url:'/signup' do |f| %>

   <%= f.label :username %>
   <%= f.text_field :username %> <br>

   <%= f.label :email %>
   <%= f.email_field :email %> <br>

   <%= f.label :password %>
   <%= f.password_field :password %> <br>

   <%= f.submit "Sumbit" %> <br>
   <%= link_to "Signup With Google", '/auth/google_oauth2' %> <br>
   <%= link_to "Already have an accout", new_session_path %> <br>

<% end %>