<h1> <%= @room.name %> </h1>

<h2> <%= @room.wall_color%> walls </h2>
<h2> <%= @room.floor_color%> floors </h2>
<h2> <%= @room.light%> lighting </h2> 

<% @room.pieces.each do |piece| %>
   <li><%= link_to piece.name, room_piece_path(@room, piece) %></li>
<% end %>

<%= link_to "Add a piece", new_room_piece_path(@room) %> <br>
<%= link_to "Edit Room", edit_room_path(@room) %> <br>

