<!DOCTYPE html>
<html>
  <head>
    <title>Dsgnr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=link_to "Logout", logout_path%>
    <%=link_to "Rooms", rooms_path%>  
    <%=link_to "Pieces", pieces_path%>
    <%=link_to "Inspo", reference_photos_path%>

    <%= yield %>
  </body>
</html>



